<!-- Criar pagina de erro com um icone de erro grande na tela em flat um circulo vermelho com X no meio,
   o texto em baixo alguma informação nao possivel processar refaça o processo.-->


   <!DOCTYPE html>
   <html>
   
   <head>
       <title>Erro 404</title>
       <style>
           .error-icon {
               font-size: 200px;
               color: #f00;
           }
   
           .error-message {
               font-size: 24px;
               color: #f00;
           }
       </style>
   </head>
   
   <body>
       <div class="error-container">
           <div class="error-icon">&#x2715;</div>
           <div class="error-message">Ocorreu um erro! Tente novamente.</div>
       </div>
   </body>
   
   </html>